Django==2.2.13
djangorestframework==3.9.4
drf-nested-routers==0.91
drf-yasg==1.10.0
gunicorn==19.7.1
django-cors-headers===2.4.0
pyjwt===1.6.4
paho-mqtt===1.4.0
APScheduler===3.5.3
freezegun===0.3.11
